* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
    
    /* GENERAL E INDEX */

body {
    color: bisque;
    background-color: black;
    display: grid;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
    overflow-x: hidden;
    overflow-y: auto;
}
/* HEADER */
header {
    height: 15vh;
    background-color: black;
    font-size: 1rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 15vh;
    width: 100%;
}
.enlace{
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 5px;
}
nav ul li a{
    color: bisque;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, rgb(99, 96, 96));
    background-size: 200%;
    background-position: right;
    transition: background-position 0.2s;
}
li a:hover{
    background-position: left;
    font-weight: 700;
}
.checkbtn{
    font-size: 30px;
    color: bisque;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* MAIN */
main {
    overflow-x: hidden;
    grid-area: main;
    grid-template-rows: auto auto;
    grid-template-areas: "section1"
                         "section2"
                         "section3";
}
/* INDEX MAIN SECCION 1 */
.main__section1 {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: section1;
    background-color: rgba(0, 0, 0, 0.631);
}
.main__section1__titulo {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2vw;
    margin: 30px;
}
.main__section1__eslogan {
    font-size: 2rem;
    font-family: 'Playfair', serif;
    margin: 5px 5px 40px 5px;
}
.main__section1__reserva {
    color: bisque;
    font-size: 3.6rem;
    text-decoration: none;
    margin: 40px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, rgb(99, 96, 96));
    background-size: 200%;
    background-position: right;
    transition: background-position 0.2s;
}
.main__section1__reserva:hover {
    background-position: left;
    font-weight: 700;
}
.main__video {
    width: 100vw;
    height: auto;
    padding-bottom: 5vh;
    position: absolute;
    top: 15vh;
    left: 0;
    z-index: -1;
}
/* INDEX MAIN SECCION 2 */
.main__section2 {
    height: auto;
    text-align: center;
    background-image: linear-gradient(black, rgb(51, 50, 50));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: section2;
    overflow: hidden;
}
.main__section2__titulo {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    padding-top: 5vh;
}
.main__section2__texto {
    font-size: 1.5rem;
    font-family: 'Playfair', serif;    
    margin: 5px 8vw 20px 8vw;
}
/* INDEX MAIN SECCION 3 */
.main__section3 {
    height: auto;
    background-image: url(../assets/images/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-area: section3;
    z-index: -100;
}
.main__section3__fondo {
    background-color: rgba(0, 0, 0, 0.831);
}
.main__section3__2columnas {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "ubicacion servicio"   
                        "calidad precio";
}
.main__section3__2columnas__subtitulo {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    padding-top: 5vh;
}
.main__section3__texto__columnas {
    color: bisque;
    font-size: 1.5rem;
    font-family: 'Playfair', serif;
    margin: 50px 0px 5vh 50px; 
}
.main__section3__2columnas__ubicacion {
    margin-top: 30px;
    grid-area: ubicacion;
}
.main__section3__2columnas__servicio {	
    margin-top: 30px;    
    grid-area: servicio;    
    }
.main__section3__2columnas__garantia {
    margin-top: 30px;
    grid-area: calidad;
}
.main__section3__2columnas__precio {
    margin-top: 30px;
    grid-area: precio;
}
.main__imagenes {
    width: 200px;
    height: 200px;
}

.section__video{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

/* FOOTER */
footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;  
}
.footer__red {
    width: 30px;
    height: 30px;
}

/* HABITACIONES */

/* MAIN */
.main_fondo {
    overflow-x: hidden;
    background-image: linear-gradient(black, rgb(51, 50, 50));
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.habit__section1 {
    height: 80vh;
    width: 100%;
    background-image: url(../assets/images/Imagenes_habitaciones/habitacion_fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.habit__section1__fondo {
    width: inherit;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.619);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit__main__section1__titulo {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}
.habit__main__section1_descripcion {
    font-size: 2rem;
    font-family: 'Playfair', serif;
}
/* HABITACIONES MAIN GENERAL */

.habit__main__subtitulo {
    font-size: 2rem;
    font-family: 'Playfair', serif;
    text-align: center;
}
.habit__section {
    margin: 2%;
}
.imagen_habit {
    max-width: 100%;
    height: 300px;
}
.habit__section__fondo {
    color: black;
    border: 2px solid bisque;
    background-image: linear-gradient(#DBD3D0, #BAC2DB);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.main__section__texto {
    font-size: 1.3rem;
    font-family: 'Playfair', serif;
    margin-right: 15px;
    margin-left: 15px;
}
.reserva_habit {
    display: flex;
    justify-content: center;
}

/* DESKTOP FIRST */


@media only screen and (max-width: 1200px) {
    /* GENERAL E INDEX */
    /* HEADER */
    .header__logo {
        margin-left: 200px;
    }
    li {
        margin: 2px;
    }
    /* MAIN */
    /* INDEX MAIN SECCION 1 */
    .main__section1__titulo {
        font-size: 4rem;
        letter-spacing: 3vw;
        margin: 10px;
    }
    .main__section1__reserva {
        font-size: 3rem;
    }
    /* INDEX MAIN SECCION 2 */
    .main__section2__titulo {
        font-size: 2.5rem;
        padding-top: 10px;
    }
    .main__section2__texto {
        font-size: 1.3rem;
        margin: 10px 30px 30px 30px;
    }
    /* INDEX MAIN SECCION 3 */
    .main__section3__2columnas__subtitulo {
        font-size: 2.5rem;
        padding-top: 30px;
    }
    .main__imagenes {
        width: 150px;
        height: 150px;
    }
    /* FOOTER */
    footer {
        font-size: 1.3rem;   
    }
    /* HABITACIONES */
    /* MAIN */
    .habit__section {
        text-align: center; 
    }
    /* HABITACIONES MAIN GENERAL */
    .habit__main__titulo {
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 50px;
    }

    .habit__section__fondo {
        color: black;
        border: 2px solid bisque;
        background-image: linear-gradient(#DBD3D0, #BAC2DB);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
    }
    .main__section__texto {
        font-size: 1.3rem;
        font-family: 'Playfair', serif;
        margin-right: 15px;
        margin-left: 15px;
    }
    .reserva_habit {
        display: flex;
        justify-content: center;
    }
}

/* TABLET */
@media only screen and (max-width: 768px) {
    /* GENERAL E INDEX */
    /* HEADER */
    .header__logo {
        margin-left: 0;
    }
    /* MAIN */
    /* INDEX MAIN SECCION 1 */
    .main__section1__titulo {
        font-size: 2.3rem;
        margin: 0px;
    }
    .main__section1__eslogan {
        font-size: 1rem;
        font-family: 'Playfair', serif;
        margin: 5px;
    }
    .main__section1__reserva {
        font-size: 1.3rem;
        margin: 5px;
        padding: 0;
    }
    /* INDEX MAIN SECCION 2 */ 
    .main__section2__titulo {
        font-size: 2.5rem;
        padding-top: 10px;
    }
    .main__section2__texto {
        font-size: 1.3rem;
        margin: 10px 30px 30px 30px;
    }
    /* INDEX MAIN SECCION 3 */
    .main__section3__2columnas {
        display: flex;
        justify-content: space-around;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: "ubicacion" 
                             "servicio"   
                             "calidad"
                             "precio";
    }
    .main__section3__texto__columnas {
        margin: 50px; 
    }
    .main__section3__2columnas__subtitulo {
        font-size: 2.5rem;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .main__imagenes {
        width: 150px;
        height: 150px;
    }
    /* FOOTER */
    footer {
        font-size: 1rem;   
    }
    /* HABITACIONES */
    /* MAIN */

    /* HABITACIONES MAIN GENERAL */
    .habit__main__titulo {
        font-size: 4rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 50px;
    }
    .imagen_habit {
        max-width: 100%;
        height: 300px;
    }
    .habit__section__fondo {
        color: black;
        border: 2px solid bisque;
        background-image: linear-gradient(#DBD3D0, #BAC2DB);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;                 
    }
    .main__section__texto {
        font-size: 1.3rem;
        font-family: 'Playfair', serif;
        margin-right: 15px;
        margin-left: 15px;   
    }
    .reserva_habit {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 625px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 15vh;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    .logo {
        padding-right: 100px;
    }
    #check:checked ~ ul{
        left:0;
    }
}
/* CELULAR */
@media only screen and (max-width: 490px) {
    body {
        grid-template-rows: 15vh auto 10vh;
    }
    /* HEADER */
    .header {
        font-size: 0.8rem;
    }
    .header__logo {
        width: 35px;
        height: 35px;
        margin-right: 50px;
    }
    li {
        margin: 2px;
    }   
    /* MAIN */
    /* INDEX MAIN SECCION 1 */
    .main__section1__titulo {
        font-size: 2.3rem;
        margin: 0px;
    }
    
    /* INDEX MAIN SECCION 2 */
    .main__section2__titulo {
        font-size: 1.7rem;
        padding-top: 10px;
    }
    .main__section2__texto {
        font-size: 1.1rem;
        margin: 10px 30px 30px 30px;
    }
    /* INDEX MAIN SECCION 3 */
    .main__section3__2columnas__subtitulo {
        font-size: 1.7rem;
        padding-top: 30px;
    }
    .main__section3__texto__columnas {
        margin-right: 10px;
        margin-bottom: 2vh;
        margin-left: 10px;
        font-size: 1.1rem;
    }
    .main__imagenes {
        width: 100px;
        height: 100px;
    }
    /* FOOTER */
    footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;   
    }
    .footer__red {
        height: 20px;
        width: 20px;
    }

    /* HABITACIONES */
    /* MAIN */
    .habit__main__section1__titulo {
        font-size: 1.7rem;
        letter-spacing: 2vw;
        margin: 10px;
    }
    .habit__main__section1_descripcion {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
    .main__section1__reserva {
        font-size: 1.2rem;
        margin: 20px;
        padding: 0;
    }
    .habit__section1 {
        height: 70vh;
    }
    .habit__section1__fondo {
        height: 70vh;
        
    }

    .imagen_habit {
        max-width: 100%;
        height: 300px;
    }
    .habit__section__fondo {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 2px solid bisque;
        background-image: linear-gradient(#DBD3D0, #BAC2DB);
        color: black;
    }
    .main__section__texto {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 1.1rem;
        font-family: 'Playfair', serif;
    }
    .reserva_habit {
        display: flex;
        justify-content: center;
    }
}