* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    background-color: black;
    color: bisque;
    display: grid;
    grid-template-rows: 15vh auto 10vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
    overflow-x: hidden;
  }