#main__reserva{
    grid-area: main;
    .formulario {
        font-size: 1.2rem;
        width: 80%;
        background: #1e242b;
        padding: 30px;
        margin: auto;
        border-radius: 4px;
        font-family: 'calibri';
        color: bisque;
        box-shadow: 7px 13px 37px #000;
        h4 {
            font-size: 2rem;
            margin-bottom: 20px;
        }
        .ingresar {
            width: 100%;
            background: #24303c;
            padding: 1%;
            border-radius: 4px;
            margin-bottom: 2%;
            border: 1px solid #9da6b9;
            font-family: 'calibri';
            font-size: 18px;
            color: bisque;
            &:focus {
                background: rgb(19, 97, 161);
            }
        }
        .boton {
            width: 100%;
            background: rgb(30, 102, 143);
            border: none;
            padding: 1.5%;
            color: bisque;
            margin: 1% 0;
            font-size: 1.3rem;
            cursor: pointer;
            &:active {
                background: bisque;
                color: rgb(7, 51, 77);
            }
        }
    }
}