#main__index {
    grid-area: main;
    overflow-x: hidden;
    display: grid;
    grid-area: main;
    grid-template-rows: auto auto;
    grid-template-areas: "section1"
                        "section2"
                        "section3";
    #main__section1 {
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: section1;
        background-color: rgba(0, 0, 0, 0.631);
        .main__section1__titulo{
            font-size: 6rem;
            font-family: 'Playfair Display', serif;
            letter-spacing: 2vw;
            margin: 2.5%;
        }
        .main__section1__eslogan {
            font-size: 2rem;
            font-family: 'Playfair', serif;
            margin: 2.5%;
        }
        .main__section1__reserva{
            color: bisque;
            font-size: 3.6rem;
            text-decoration: none;
            margin: 2.5%;
            cursor: pointer;
            background: linear-gradient(to left, transparent 50%, rgb(99, 96, 96));
            background-size: 200%;
            background-position: right;
            transition: background-position 0.2s;
            &:hover {
                background-position: left;
                font-weight: 700;
            }
        }
    }
    .main__video {
        width: 100vw;
        height: auto;
        padding-bottom: 5vh;
        position: absolute;
        top: 15vh;
        left: 0;
        z-index: -1;
    }
    #main__section2 {
        height: auto;
        text-align: center;
        background-image: linear-gradient(black, rgb(51, 50, 50));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        grid-area: section2;
        overflow: hidden;
            .main__section2__titulo {
                font-size: 3rem;
                font-family: 'Playfair Display', serif;
                padding-top: 20px;
            }
            .main__imagenes {
                width: 200px;
                height: 200px;
            }
            .main__section2__texto {
                font-size: 1.5rem;
                font-family: 'Playfair', serif;    
                margin: 5px 8vw 20px 8vw;
            }
    }
    
    #main__section3 {
        height: auto;
        background-image: url(../assets/images/inicio.jpg);
        @include backgrounds;
        @include flexbox (flecha, cetro);
        text-align: center;
        grid-area: section3;
        z-index: -100;
        .main__section3__fondo {
            background-color: rgba(0, 0, 0, 0.850);
            .main__section3__2columnas__subtitulo {
                font-size: 4rem;
                font-family: 'Playfair Display', serif;
                padding-top: 10px;
                text-align: center;
            }
            .main__section3__2columnas {
                @include flexbox (columna, entre);
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: 50% 50%;
                grid-template-areas: "ubicacion servicio"   
                                    "garantia precio";
                .main__section3__2columnas__ubicacion {
                    @include index (ubicacion)
                }
                .main__section3__2columnas__servicio {
                    @include index (servicio)
                }
                .main__section3__2columnas__garantia {
                    @include index (garantia)
                }
                .main__section3__2columnas__precio {
                    @include index (precio)
                }
            }
        }
    }
}