@media only screen and (max-width: 1200px) {
    header {
        li {
            margin: 10px;
        }
    }
    #main__index {
        #main__section1 {
            .main__section1__titulo{
                font-size: map-get($map: $titulos, $key: "pc");
            }
            .main__section1__eslogan {
                font-size: map-get($map: $titulos, $key: "pc")/3;
            }
            .main__section1__reserva{
                font-size: map-get($map: $titulos, $key: "pc")/1.5;
                }
            }
        #main__section2 {
                .main__section2__titulo {
                    font-size: 2.5rem;
                    padding-top: 10px;
                }
                .main__section2__texto {
                    font-size: 1.3rem;
                    margin: 10px 30px 30px 30px;
                }
        }
        #main__section3 {
            .main__section3__fondo {
                .main__section3__2columnas__titulo {
                    font-size: 4rem;
                    padding-top: 30px;
                }
                .main_imagenes {
                    width: 150px;
                    height: 150px;              
                }
            }
        }
    }
    #main__habitaciones {
        .main_fondo {
            .habit__section1 {
                .habit__section1__fondo {
                    .habit__main__section1__titulo {
                        font-size: map-get($map: $titulos, $key: "pc");
                    }
                    .habit__main__section__descripcion {
                        font-size: (map-get($map: $titulos, $key: "pc"))/3;
                    }
                }
            }
            .habit__section {
                .habit__section__fondo {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    .imagen_habit {
                        max-width: 100%;
                        height: 300px;
                    }
                }
            }
        }
        a {
            font-size: 2.5rem;
            margin: 5px;
            padding: 0
        }
    }
    #main__restaurante {
        #slider-container {
            .menu__titulo {
                font-size: map-get($map: $titulos, $key: "pc");
            }
            .menu__slogan {
                font-size: (map-get($map: $titulos, $key: "pc"))/3;
            }
        } 
    }
    #main__act {
        #section1__descripcion {
            .sombreado {
                .titulo__act {
                    font-size: map-get($map: $titulos, $key: "pc");
                }
                .slogan__act {
                    font-size: (map-get($map: $titulos, $key: "pc"))/3;
                }
            }
        }
        #section2__cartas {
            .card {
                .back {
                   li {
                    font-size: 1.2rem;
                   }
                }
            }
        }
    }
    footer {
        font-size: 1.3rem;
        div {
            a {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 790px) {
    #main__index {
        #main__section1 {
            .main__section1__titulo{
                font-size: map-get($map: $titulos, $key: "tablet");
            }
            .main__section1__eslogan {
                font-size: map-get($map: $titulos, $key: "tablet")/3;
            }
            .main__section1__reserva{
                font-size: map-get($map: $titulos, $key: "tablet")/1.5;
                }
            }
        #main__section3 {
            .main__section3__fondo {
                .main__section3__2columnas {
                    display: flex;
                    justify-content: space-around;
                    display: grid;
                    grid-template-rows: auto auto;
                    grid-template-columns: auto auto auto auto;
                    grid-template-areas: "ubicacion" 
                                        "servicio"   
                                        "garantia"
                                        "precio";
                }
            }                                     
        }
    }
    #main__habitaciones {
        .main_fondo {
            .habit__section1 {
                .habit__section1__fondo {
                    .habit__main__section1__titulo {
                        font-size: map-get($map: $titulos, $key: "tablet");
                    }
                    .habit__main__section__descripcion {
                        font-size: (map-get($map: $titulos, $key: "tablet"))/3;
                    }
                }
            }
        }
    }
    #main__restaurante {
        height: auto;
        grid-template-columns: auto;
        grid-row: 0.8 1.5fr;
        grid-template-areas: "section1" "section2";
        #slider-container{
            height: 60vh;
            justify-content: start;
            h1 {
                margin-top: 25px;
            }
            .menu__titulo {
                font-size: map-get($map: $titulos, $key: "tablet");
            }
            .menu__slogan {
                font-size: (map-get($map: $titulos, $key: "tablet"))/3;
            }
          }
    }
    #main__act {
        #section1__descripcion {
            .sombreado {
                .titulo__act {
                    font-size: map-get($map: $titulos, $key: "tablet");
                }
                .slogan__act {
                    font-size: (map-get($map: $titulos, $key: "tablet"))/3;
                }
            }
        }
    }
    footer {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 660px){
    header {
        nav {
            .enlace {
                margin-right: 40%;
            }
            #check {
                &:checked ~ ul{
                    left:0;
                }
            }
            .checkbtn{
                display: block;
            }
            ul{
                position: fixed;
                width: 100%;
                height: 100vh;
                height: 100%;
                background: #2c3e50;
                top: 15vh;
                left: -100%;
                text-align: center;
                transition: all 0.5s;
                li{
                    display: block;
                    margin: 50px 0;
                    margin: 5% 0;
                    line-height: 30px;
                    .active {
                        background: none;
                    }
                    .desactivar {
                        display: none;
                    }
                    a{
                        font-size: 20px;
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 490px) {
    #main__index {
        #main__section1 {
            .main__section1__titulo{
                font-size: map-get($map: $titulos, $key: "celular");
            }
            .main__section1__eslogan {
                font-size: map-get($map: $titulos, $key: "celular")/3;
            }
            .main__section1__reserva{
                font-size: map-get($map: $titulos, $key: "celular")/1.5;
            }
        }
        #main__section2 {
                .main__section2__titulo {
                    font-size: 2rem;
                }
                .main__imagenes {
                    width: 150px;
                    height: 150px;
                }
                .main__section2__texto {
                    font-size: 1rem;    
                    margin: 3%;
                }
        }
        #main__section3 {
            .main__section3__fondo {
                background-color: rgba(0, 0, 0, 0.850);
                .main__section3__2columnas__titulo {
                    font-size: 2rem;
                }
                .main__section3__2columnas {
                    .main__section3__2columnas__ubicacion {
                        .main__section3__2columnas__subtitulo {
                            font-size: 2rem;
                        }
                        .main__imagenes {
                            height: 150px;
                            width: 150px;
                        }
                        .main__section3__texto__columnas{
                            font-size: 1.2rem;
                        }
                    }
                    .main__section3__2columnas__servicio {
                        .main__section3__2columnas__subtitulo {
                            font-size: 2rem;
                        }
                        .main__imagenes {
                            height: 150px;
                            width: 150px;
                        }
                        .main__section3__texto__columnas{
                            font-size: 1.2rem;
                        } 
                    }
                    .main__section3__2columnas__garantia {
                        .main__section3__2columnas__subtitulo {
                            font-size: 2rem;
                        }
                        .main__imagenes {
                            height: 150px;
                            width: 150px;
                        }
                        .main__section3__texto__columnas{
                            font-size: 1.2rem;
                        }
                    }
                    .main__section3__2columnas__precio {
                        .main__section3__2columnas__subtitulo {
                            font-size: 2rem;
                        }
                        .main__imagenes {
                            height: 150px;
                            width: 150px;
                        }
                        .main__section3__texto__columnas{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    #main__habitaciones {
        .main_fondo {
            .habit__section1 {
                .habit__section1__fondo {
                    .habit__main__section1__titulo {
                        font-size: map-get($map: $titulos, $key: "celular");
                    }
                    .habit__main__section__descripcion {
                        font-size: (map-get($map: $titulos, $key: "celular"))/3;
                    }
                }
            }
            .habit__section {
                margin: 2%;
                .habit__main__subtitulo {
                    font-size: 2rem;
                    text-align: center;
                }
                .habit__section__fondo {
                    border: 2px solid bisque;
                    color: black;
                    margin-left: 10px;
                    margin-right: 10px;
                    .imagen_habit {
                        max-width: 100%;
                        height: 200px;
                    }
                    .main__section__texto {
                        margin-left: 15px;
                        margin-right: 15px;
                        font-size: 1.1rem;
                    }
                }
            }
        }
        a {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
        }
    }
    #main__restaurante {
        #slider-container {
            .menu__titulo {
                font-size: map-get($map: $titulos, $key: "celular");
            }
            .menu__slogan {
                font-size: (map-get($map: $titulos, $key: "celular"))/3;
            }
        } 
    }
    #main__act {
        #section1__descripcion {
            .sombreado {
                .titulo__act {
                    font-size: map-get($map: $titulos, $key: "celular");
                }
                .slogan__act {
                    font-size: (map-get($map: $titulos, $key: "celular"))/3;
                }
            }
        }
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;   
    }
}